// MIND YOU:
// "-webkit-scrollbar" is NOT supported by Firefox or IE and Edge - they will render natively, as the world always have known them
// Lots of pre-done CSS options in here: https://codepen.io/akinjide/pen/BpggrZ
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {

    /* width (native is 15px! )*/
    ::-webkit-scrollbar {
        width: 5px; // $size;
        height: 5px; // $size;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent; //$background-color;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        // border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
        cursor: grab;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $primary;
        border-radius: 10px;
    }

    // For Internet Explorer
    body {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}
