// ====================================
// CSS (runtime) & SCSS (to compile) vars:
// ====================================
:root {
    --body-main-bg-color: white;
    --body-color: #292828;
}

$primary: #a10d31;
$secondary: #B0A288;