<div class="buttons-flex-bar d-flex justify-content-between align-items-center">
    <div>
        <button class="btn btn-default" name="menu-trigger" (click)="toggleMenu.emit()" [disabled]="buttonsDisabled[0]" title="Open/Close login Menu"><i class="fa fa-bars fa-2x"></i></button>
    </div>
    <div>
        <button class="btn btn-info btn-block" name="homepage-trigger" routerLink="/" [disabled]="buttonsDisabled[1]" title="Go home...?"><i class="fa fa-fort-awesome"></i></button>
    </div>
    <div>
        <button class="btn btn-info btn-block" name="profile-trigger" routerLink="/profile" routerLinkActive="active" title="My Profile" [disabled]="buttonsDisabled[2]"><i class="fa fa-user-circle" aria-hidden="true"></i></button>
    </div>
    <div>
        <button class="btn btn-primary btn-block" name="todos-trigger" routerLink="/todos" routerLinkActive="active" title="My TODOS" [disabled]="buttonsDisabled[3]"><i class="fa fa-list-ol" aria-hidden="true"></i></button>
    </div>
    <div>
        <button class="btn btn-outline-info btn-block" name="void" [disabled]="buttonsDisabled[4]" title="Soon... stay tuned!">(void)</button>
    </div>
</div>