div.buttons-flex-bar {
    div {
        width: 20%;
        min-width: 60px;
        padding: 0.1rem 0.2rem;
        &:nth-child(1) {
            width: unset;
            min-width: unset;
        }
    }
}