.card {
    margin-bottom: 50px;
    border-radius: 0;
    &.create-todo {
        max-width: 300px;

        .card-body {
            background-color: lightgoldenrodyellow;  
        }    
    }
}

.card-header {
    code { overflow: hidden; }
}

.card-body{
	height: 180px;
	text-align: justify;

	/* Can have absolute positioning of elements inside: */
	position: relative;
    overflow-y: auto;

    background-color: #e8e898;

    textarea{
        width: 100%; height: 75%;
        line-height: 1.625;  // <= to equal body one, so the toggling with <p> todo content, is seamingless
        resize: vertical;
        /* Make as if it doesn't exist: */
        background-color: transparent;
        border: 0; outline: none;
        border-left: 1px dashed #f0ad4e;
        border-right: 1px dashed #f0ad4e;

        padding-left: calc(8px - 1px);
    }
    p { padding-left:      8px;
        white-space: pre-wrap;

        &.done-todo {
            text-decoration: line-through;
            font-style: italic;
            color: darkgray;
        }
    }
}

.card-footer{
    position: relative; // <= there's absolute positioning inside
    height: 57px;       // <= it's flex transformed on the DB todos listing - 57px is the BS "natural" height!
    overflow: hidden;
    
    .editing-buttons-container{
        position: absolute;
        top: 0; left: 1.25rem;    // <= same padding as BS .card-footer
    }
}
