p.welcome-msg-description {
    // We don't want to shrink it, when Menu side bar is being hidden (shortening witdh):
    width: calc(300px - (2 * 15px));
}

.auth-buttons-container button,
.sign-in-up-buttons-container button {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}
