<div class="card create-todo mx-auto mild-shadow">

    <div class="card-body">
        <textarea *ngIf="isCreating" rows="5" (change)="userIsTyping($event)"></textarea>
        <div><small><i>Free and allowed to any logged user!</i></small></div>
    </div>

    <div class="card-footer text-right mt-1">

        <div *ngIf="isCreating" class="editing-buttons-container mt-2">
            <button *ngIf="isCreating" class="btn btn-sm" (click)="createTodo()">
                <i class="fa fa-check-circle fa-2x text-success"></i>
            </button>
            <button *ngIf="isCreating" class="btn btn-sm" (click)="isCreating=!isCreating">
                <i class="fa fa-times-circle-o fa-2x text-danger"></i>
            </button>
        </div>

        <button *ngIf="!isCreating" class="btn btn-sm btn-success" (click)="isCreating=!isCreating">Create Todo</button>

    </div>

</div>