<form *ngIf="isNewUser" [formGroup]="userForm" (ngSubmit)="signup()">

    <h4>
        <div class="badge badge-info text-uppercase">New User Signup</div>
    </h4>

    <div class="sign-up-in-toggle text-right mt-2 mb-4">
        <small>
            Already Registered ? <button class="btn btn-sm btn-outline-info ml-2" (click)="toggleForm()">Sign IN!</button>
        </small>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="name">Name</label>
        <div class="col-sm-10">
            <input type="text" id="name" class="form-control form-control-sm" formControlName="name" required placeholder="... just for fun!">
            <div *ngIf="formErrors?.name" class="notification is-danger text-danger small lead text-justify">{{ formErrors?.name }}</div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="email">Email</label>
        <div class="col-sm-10">
            <input type="email" id="email" class="form-control form-control-sm" formControlName="email" required placeholder="C'mon... easy!">
            <div *ngIf="formErrors?.email" class="notification is-danger text-danger small lead text-justify">{{ formErrors?.email }}</div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="password">Pass</label>
        <div class="col-sm-10">
            <input type="password" id="password" class="form-control form-control-sm" formControlName="password" required placeholder="Google won't let us know it!">
            <div *ngIf="formErrors?.password" class="notification is-danger text-danger small lead text-justify">{{ formErrors?.password }}</div>
        </div>
    </div>

    <xyz-submit-button [isFullWidth]="true" [isButtonToDisabled]="!userForm?.valid" [isIconToActivate]="userForm?.valid"></xyz-submit-button>

</form>

<form *ngIf="!isNewUser" [formGroup]="userForm" (ngSubmit)="login()">

    <h4>
        <div class="badge badge-info text-uppercase">User Login</div>
    </h4>

    <div class="sign-up-in-toggle text-right mt-2 mb-4">
        <small>
            New User ? <button class="btn btn-sm btn-outline-info ml-2" (click)="toggleForm()">Sign UP!</button>
        </small>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="email">Email</label>
        <div class="col-sm-10">
            <input type="email" id="email" class="form-control form-control-sm" formControlName="email" required placeholder="Trigger 'password reset' feature?">
            <div *ngIf="formErrors?.email" class="help text-danger small lead text-justify">{{ formErrors?.email }}</div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="password">Pass</label>
        <div class="col-sm-10">
            <input type="password" id="password" class="form-control form-control-sm" formControlName="password" required placeholder="No worries if forgotten...">
            <div *ngIf="formErrors?.password" class="help text-danger small lead text-justify">{{ formErrors?.password }}</div>
        </div>
    </div>

    <xyz-submit-button [isFullWidth]="true" [isButtonToDisabled]="!userForm?.valid" [isIconToActivate]="userForm?.valid"></xyz-submit-button>

    <small>
        <a *ngIf="!passwordHasBeenReset && userForm?.controls?.email?.valid" class="text-muted" href="javascript: void(0);" (click)="resetPassword()">
            Reset Password for <b>{{ userForm?.value.email }}</b>?
        </a>
        <p *ngIf="passwordHasBeenReset" class="help is-info">Reset requested. <b>Check your email</b> instructions.</p>
    </small>

</form>

<hr>