#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;

    &.toggled {
        padding-left: 300px;
        /*250px;*/

        #sidebar-wrapper {
            width: 300px;
            /*250px;*/
        }

        #page-content-wrapper {
            position: absolute;
            margin-right: -250px;
        }
    }

    &:not(.toggled) {
        #sidebar-wrapper { overflow-y: hidden; }
    }

    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: 250px;
        width: 0;
        height: 100%;
        margin-left: -250px;
        background: rgba(0, 0, 0, 0.01);
        // ===========================
        overflow-y: auto; /* <= because IE, should be hidden! Well... we'll do it, once menu is closed - class #wrapper NOT toggled */
        // ===========================
    
        box-shadow: 1px 6px 29px -3px #222222;
        transition: all 0.5s ease;

        div.homepage-login-container { padding: 15px; }

        .close-menu {
            position: absolute;
            top: 20px;
            left: 7px;
            ;
            cursor: pointer;
        }
        
    }

    #page-content-wrapper {
        width: 100%;
        position: absolute;
        padding: 15px;
    
        min-height: 900px;
        /* Give some bottom space for "small.fixed-bottom-right", positioning as absolute, to fit in:*/
        padding-bottom: 65px;
    }
    
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 0;

        &.toggled {
            // padding-left: 250px;
            #page-content-wrapper { position: relative; margin-right: 0;}
            // #sidebar-wrapper { width: 250px; }
        }

        #sidebar-wrapper { width: 0; }
        #page-content-wrapper { position: relative; /*padding: 20px;*/}
    }
}