<div class="user-card-container mt-3">
    <div class="card m-auto">

        <div class="card-img-container p-5">
            <img class="card-img-top img-thumbnail rounded-circle" src="{{ user?.photoURL }}" alt="User id {{ user?.uid}} profile picture" title="User id {{ user?.uid}} profile picture">
        </div>

        <div class="card-body border-top border-primary">
            <h5 class="card-title text-primary"><i class="fa fa-address-book text-info mr-3"></i><span [innerHTML]="user?.displayName"></span></h5>
            <p class="card-text"><i class="fa fa-envelope text-info mr-3"></i><span>{{ user?.email }}</span>
            <p *ngIf="user?.emailVerified" class="card-text"><i class="fa fa-lock text-success mr-3"></i><span class="badge badge-secondary text-uppercase px-2">Email verified</span>
            <p *ngIf="!user?.emailVerified" class="card-text"><i class="fa fa-unlock text-danger mr-3"></i><span class="badge badge-secondary text-uppercase px-2">Email NOT verified</span>
            <p class="card-text"><i class="fa fa-sign-in text-info mr-3"></i><span class="badge badge-secondary text-uppercase px-2">{{ user?.loginSource }}</span>
        </div>

        <div class="card-footer d-flex justify-content-between border-top border-primary">
            <a href="javascript: void(0);" class="btn btn-sm btn-info my-1 mx-1 text-uppercase" (click)="goToProfile.emit()">My Profile</a>
            <button class="btn btn-sm btn-outline-danger my-1 mx-1 text-uppercase" (click)="loggout.emit()">Log Out</button>
        </div>

    </div>
</div>

<ng-container *ngIf="!user?.emailVerified">
    <hr>

    <h4 class="text-right"><div class="badge badge-danger text-uppercase">Warning</div></h4>
    <p>
        Mind you that you won't be able to access <b>confidential areas</b> - like the <span class="badge badge-info text-uppercase">TODOs</span> link - while your account is <b>NOT verified</b> through your private email.
    </p>
    <p>
        Please check your private correspondence Inbox and follow instructions sent on an <b>email</b> from us. Thank you.
    </p>
</ng-container>