div.user-card-container {
    
    div.card-img-container {
        background-image: url(https://picsum.photos/1200/1200); // url(https://picsum.photos/1200/1200?blur);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: grey;

        text-align: center;
        img.card-img-top { width: 7rem; }    
    }
}