div.logos-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    min-width: 250px;

    // Keep this element OUT of the flex game! And always "on top" - never on the side...
    .app-title { flex-shrink: 0; width: 100%; }

    img.img-logos {
        max-width: 350px;
        margin: auto;
        // Don't let the <img /> loading be "bouncy" - declare "width" and "height" HTML props:
        // width: 100%;
        // height: auto;
        // aspect-ratio: 1/1;
        //  https://www.smashingmagazine.com/2020/03/setting-height-width-images-important-again
    }        
}

@media only screen and (min-width: 570px) and (max-width: 1103px) {
    div.logos-container {
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }        
}

@media only screen and (max-width: 1103px) {
    div.logos-container {
        img.img-logos { max-width: 150px; }
        i.fa { font-size: 2rem; }
    }
}

@media only screen and (max-width: 460px) {
    .app-title { font-size: 7vw; }
}

@media only screen and (max-width: 400px) {
    div.logos-container {
        img.img-logos { max-width: 100px; }
        i.fa { font-size: 1rem; }
    }
}


