<button type="submit" class="btn btn-success mb-2"
    [class.btn-block]="isFullWidth"
    [class.text-uppercase]="isLabelUppercase"
    [disabled]="isButtonToDisabled"
>Submit <span *ngIf="isIconToActivate" class="text-success"><i class="fa fa-check ml-4"></i></span>
</button>