<div class="card">
    
    <div class="card-header">
        <code class="user-id text-muted small px-2 d-flex align-items-center justify-content-end"><i class="fa fa-newspaper-o mr-2"></i><i>{{ itemTodo?.autoID}}</i></code>
    </div>

    <div class="card-body">
        <p *ngIf="!isEditing" [class.done-todo]="itemTodo?.done">{{ itemTodo?.todo }}</p>
        <textarea *ngIf="isEditing" rows="6" (change)="userIsTyping($event)">{{ itemTodo?.todo }}</textarea>
    </div>
    
    <div class="card-footer text-right mt-1 d-flex justify-content-between align-items-center">

        <div *ngIf="isEditing" class="editing-buttons-container mt-2">
            <button *ngIf="isEditing" class="btn btn-sm" (click)="editTodoOnText()">
                <i class="fa fa-check-circle fa-2x text-success"></i>
            </button>
            <button *ngIf="isEditing" class="btn btn-sm" (click)="isEditing=!isEditing">
                <i class="fa fa-times-circle-o fa-2x text-danger"></i>
            </button>
        </div>

        <button *ngIf="!isEditing"class="btn btn-sm" [class.btn-success]="!itemTodo?.done" [class.btn-danger]="itemTodo?.done" (click)="makeTodoDone()">
            <span *ngIf="!itemTodo?.done">Done!</span>
            <span *ngIf="itemTodo?.done">Re-Todo?</span>
        </button>
        <div    *ngIf="!isEditing" class="d-flex justify-content-between">
            <button class="btn btn-sm" (click)="isEditing=!isEditing"><i class="fa fa-pencil-square-o fa-2x text-warning" aria-hidden="true"></i></button>
            <button class="btn btn-sm" (click)="deleteTodo()"><i class="fa fa-trash fa-2x text-danger" aria-hidden="true" style="margin-top: -3px;"></i></button>
        </div>

        <!-- <code class="user-id text-muted small px-2"><i class="fa fa-newspaper-o mr-2"></i><i>{{ itemTodo?.autoID}}</i></code> -->

    </div>
</div>