/* You can add global styles to this file, and also import other style files */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@import 'assets/scss/variables';
@import 'assets/scss/mixins';


html, body {
    // height: 100vh;
    // height: 100%;
    overflow-x: hidden;
}
body {
	background: var(--body-main-bg-color);
	color: var(--body-color);
	font-weight: 300;
    font-family: "Lato", Calibri, Arial, sans-serif;

    line-height: 1.625;
    font-size: 100%;

    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

    padding: 0;
    margin: 0;
}

// They always forget this one:
.btn.disabled, .btn:disabled {
    cursor: not-allowed;
}

// Custom toolbars (see mixins):
@include scrollbars(14px, $secondary);


// Getting bloody OUTLINEs out of the way!
*:focus,
.btn:active, .btn:focus, .btn:active:focus, .btn.active:focus { outline: 0 !important; box-shadow: none !important;}
/* Bug @ FF, on select inputs: https://stackoverflow.com/a/19451423/2816279*/
select:-moz-focusring {
	color: transparent !important;
	text-shadow: 0 0 0 #000;
	transition: color 0ms;
}


// Shadows
// for imgs:
img.strong-shadow{
	-webkit-filter: drop-shadow(5px 5px 5px var(--body-color));
	filter: drop-shadow(5px 5px 5px var(--body-color));  
}
// general purpouse:
.mild-shadow{
	-webkit-box-shadow: 1px 6px 29px -3px rgba(0,0,0,.2);
    box-shadow: 1px 6px 29px -3px rgba(0,0,0,.2);
}